@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-page {
    height: 100vh;
    background: url('../public/glass-bg.png') no-repeat center center fixed;
}

form {
  position: relative;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.08);
}
